@model List<Admin.Core.Models.UserModel>
<h2>Welcome @Model[0].Name!</h2>
<h5><img src=" https://cdn-icons-png.flaticon.com/512/1769/1769041.png" alt="" width="35" height="35"/> Employees under you</h5>
<div class="row">
    @foreach (var input in Model)
    {
        <div class="card col-3 mb-3 box-shadow shadow" style="padding:0">
            <div class="card-header">
                <strong>@input.Role</strong>
                <span class="position-absolute end-0 pe-3">
                    <a asp-controller="Account" asp-action="EditEmployee" asp-route-Email=@input.Email class="text-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                        </svg>
                    </a>
                </span>
            </div>
            <div class="card-body">
                <div class="card-text"><strong>@input.Name</strong></div>
                <div class="card-text">@input.Email</div>
                <div class="card-text">@input.Phone</div>
            </div>
        </div>
        <div class="col-1"></div>
    }
</div>

<script>
    $(document).ready(function () {
        var message = '@TempData["ToastrMessage"]';
        var type = '@TempData["ToastrType"]';
        if (message !== "") {
            toastr.options = {
                progressBar: true,
                positionClass: 'toast-top-right'
            };
            toastr[type](message);
        }
    });
</script>