@model AdminAuth.Models.UserModel;

<h2 class="text-center">Sign Up</h2>
<div class="container col-6">
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @id = "SignUp", @class = "form-control bg-light shadow-lg" }))
    {
        <div class="row mb-3 mt-3">
            <label class="col-2 ml-2"><strong>Name<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Name", "", new { @class = "form-control", @id = "Name", @oninput = "this.value=(this.value.match('[A-Z a-z]+'))", maxlength = 50 })
                <label class="error text-danger" for="Name"></label>
            </div>            
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Email<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Email", "", new { @class = "form-control", @id = "Email", maxlength = 50 })
                <label class="error text-danger" for="Email"></label>
            </div>            
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Password<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Password", "", new { @class = "form-control", @id = "Password", maxlength = 50, @type = "password" })
                @Html.CheckBox("ShowPass", new { @class = "form-check-input", @id = "ShowPass" })
                <span class="form-check-label">Show password</span>
                <br />
                <label class="error text-danger" for="Password"></label>
            </div>            
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Confirm Password<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("CPassword", "", new { @class = "form-control", @id = "CPassword", maxlength = 50, @type = "password" })
                <label class="error text-danger" for="CPassword"></label>
            </div>            
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Phone<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Phone", "", new { @class = "form-control", @id = "Phone", @oninput = "this.value=(this.value.match('[0-9-]+'))", maxlength = 12 })
                <label class="error text-danger" for="Phone"></label>
            </div>            
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Role<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.DropDownList("Role", new SelectList((IEnumerable<string>)TempData["Roles"]), "Select", new { id = "Role", @class = "form-control" })
                <label class="error text-danger" for="Role"></label>
            </div>
        </div>
        <div id="AdminPass" style="display:none">
            <div class="row mb-3">
                <label class="col-2 ml-2"><strong>Admin Password<span class="text-danger">*</span></strong></label>
                <div class="col-10 mr-2">
                    @Html.TextBox("APassword", "", new { @class = "form-control", @id = "APassword", maxlength = 50, @type = "password" })
                    @Html.CheckBox("ShowAPass", new { @class = "form-check-input", @id = "ShowAPass" })
                    <span class="form-check-label">Show password</span>
                    <br />
                    <label class="error text-danger" for="APassword"></label>
                </div>
            </div>
        </div>
        <div id="ManagerPass" style="display:none">
            <div class="row mb-3">
                <label class="col-2 ml-2"><strong>Manager Password<span class="text-danger">*</span></strong></label>
                <div class="col-10 mr-2">
                    @Html.TextBox("MPassword", "", new { @class = "form-control", @id = "MPassword", maxlength = 50, @type = "password" })
                    @Html.CheckBox("ShowMPass", new { @class = "form-check-input", @id = "ShowMPass" })
                    <span class="form-check-label">Show password</span>
                    <br />
                    <label class="error text-danger" for="MPassword"></label>
                </div>
            </div>
        </div>
        <div id="ManagerName" style="display:none">
            <div class="row mb-3">
                <label class="col-2"><strong>Manager<span class="text-danger">*</span></strong></label>
                <div class="col-10">
                    @Html.DropDownList("Manager", new SelectList((IEnumerable<string>)TempData["Managers"]), "Select", new { id = "Role", @class = "form-control" })
                    <label class="error text-danger" for="Role"></label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Address<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextArea("Address", "", new { @class = "form-control", @id = "Address"})
                <label class="error text-danger" for="Address"></label>
            </div>
        </div>
        <div class="form-group text-center mt-2 mb-3">
            <button type="submit" class="btn btn-primary col-3 text-center" id="submit">Sign Up</button>
        </div>
        <div class="text-center mb-3">
            <label class="text-sm-center">Already a member?</label>
            <a asp-controller="Account" asp-action="SignIn" class="link">Log In</a>
        </div>
    }
</div>
    
    @functions {
        public static List<SelectListItem> GetRoles()
        {
            return new List<SelectListItem>
            {
                new SelectListItem { Value = "Admin", Text = "Admin" },
                new SelectListItem { Value = "Manager", Text = "Manager" },
                new SelectListItem { Value = "Team Member", Text = "Team Member" },
            };
        }
    }
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = '@TempData["ToastrMessage"]';
            var type = '@TempData["ToastrType"]';
            if (message !== "") {
                toastr.options = {
                    progressBar: true,
                    positionClass: 'toast-top-right'
                };
                toastr[type](message);
            }

            $('#Phone').mask('000-0000-000');

            $('#Role').on('click', function () {
                if ($('#Role').val() == "Admin"){
                    $('#AdminPass').css("display", "block")
                    $('#ManagerPass').css("display", "none")
                    $('#ManagerName').css("display", "none")
                }
                else if ($('#Role').val() == "Manager") {
                    $('#AdminPass').css("display", "none")
                    $('#ManagerPass').css("display", "block")
                    $('#ManagerName').css("display", "none")
                }
                else if ($('#Role').val() == "Team Member") {
                    $('#AdminPass').css("display", "none")
                    $('#ManagerPass').css("display", "none")
                    $('#ManagerName').css("display", "block")
                }
                else{
                    return "_"
                }
            });

            $('#ShowPass').on('click', function () {
                var x = document.getElementById("Password");
                if (x.type === "password") {
                    x.type = "text";
                }
                else {
                    x.type = "password";
                }
            });

            $('#ShowAPass').on('click', function () {
                var x = document.getElementById("APassword");
                if (x.type === "password") {
                    x.type = "text";
                }
                else {
                    x.type = "password";
                }
            });

            $('#ShowMPass').on('click', function () {
                var x = document.getElementById("MPassword");
                if (x.type === "password") {
                    x.type = "text";
                }
                else {
                    x.type = "password";
                }
            });

            $.validator.addMethod("equalToAdmin", function (value, element) {
                return value === "Admin";
            }, "Invalid password.");

            $.validator.addMethod("equalToManager", function (value, element) {
                return value === "Manager";
            }, "Invalid password.");

            $("#SignUp").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Role: {
                        required: true
                    },
                    Manager: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    CPassword: {
                        required: true,
                        equalTo: "#Password"
                    },
                    APassword: {
                        required: true,
                        equalToAdmin: true
                    },
                    MPassword: {
                        required: true,
                        equalToManager: true
                    }
                },
                messages: {
                    Name: {
                        required: "Name is a required field",
                    },
                    Email: {
                        required: "Email is a required field",
                        email: "Please enter a valid email"
                    },
                    Role: {
                        required: "Select a role"
                    },
                    Manager: {
                        required: "Select your manager"
                    },
                    Password: {
                        required: "Password is a required field",
                        minlength: "Password should be atleast 8 characters"
                    },
                    CPassword: {
                        required: "Re-enter your password",
                        equalTo: "Passwords didn't match"
                    },
                    APassword: {
                        required: "Please enter admin password",
                        equalTo: "Password incorrect"
                    },
                    MPassword: {
                        required: "Please enter manager password",
                        equalTo: "Password incorrect"
                    }
                }
            });
        });

    </script>
    <partial name="_ValidationScriptsPartial" />
}